
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://storage.sg.content-cdn.io/cdn-cgi/image/width=450,height=450,quality=75,format=auto/in-resources/c5eb5745-bde1-4c15-87b7-f2b3df7c08d3/Images/ProductImages/Source/Apple_Watch_Series_5_Cellular_Space_Black_Stainless_Steel_44mm_Milanese_Loop_Black_Vertical_Pure_Front_US-EN_SCREEN.png" alt="OnePlus7t">
              <div class="card-body">
                <h5 class="card-title">Apple Watch Series 5</h5>
                <p class="card-text">With a display that is now always on, Apple Watch Series 5 is there for you like never before. Faces and complications let you see the information that matters most to you without raising your wrist.</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
        </div>
  
        <div class="col-xs-6" style="margin-left:25px">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://fossil.scene7.com/is/image/FossilPartners/FTW4019_main?$sfcc_fos_large$" alt="Fossil Sport Smartwatch">
              <div class="card-body">
                <h5 class="card-title">Fossil Sport Smartwatch</h5>
                <p class="card-text">Notifications: Alarm Clock, App Alerts, Calendar Alerts, Email, Multiple Time Zones, Social Media, Text
                    Functions: Control Your Music, Google Pay™, GPS, Heart Rate Tracking, Interchangeable Watch Band, Notifications, Personalize Your Dial, Swimproof
                    Connectivity: Bluetooth Smart Enabled 
                </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
        </div>
  
        <div class="col-xs-6" style="margin-left:25px">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://casiocdn.com/casio-v2/resource/images/products/watches/hd/MTGB1000XB-1A_hd.png" alt="OnePlus7 Pro">
            <div class="card-body">
              <h5 class="card-title">G-SHOCK -MTGB1000XB-1A</h5>
              <p class="card-text">
                MTGB1000XB-1A
                $1000.00
                The MTG-B1000XBD and B1000XB are based on the MTG-B1000, which has a mid-sized case for enhanced wearability while delivering advanced functionality, including smartphone</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
      </div>
  
     
  </div>