
<div class="container">
  <div class="row">
      <div class="col-xs-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://fdn2.gsmarena.com/vv/bigpic/oneplus-7t-.jpg" alt="OnePlus7t">
            <div class="card-body">
              <h5 class="card-title">OnePlus7t</h5>
              <h6 class="card-title">₹ 34,999</h6>
              <p class="card-text">Outstanding Device With Front Camera Of 16MP and Triple Rear Camera Of 48MP+16MP+12MP. 
                Remarkably Solid, yet surprisingly thin | OxygenOS 10 | Wrap charge 30T |</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
      </div>

      <div class="col-xs-6" style="margin-left:25px">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://fdn2.gsmarena.com/vv/bigpic/apple-iphone-11-pro.jpg" alt="Iphone 11">
            <div class="card-body">
              <h5 class="card-title">Iphone 11</h5>
              <h6 class="card-title">₹ 69,900</h6>
              <p class="card-text">Just the right amount of everything. Learn more. Dual-camera system. Liquid Retina LCD. All-day battery life. A13 Bionic chip.
                Introducing the Slofie. New Ultra Wide camera.</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
      </div>

      <div class="col-xs-6" style="margin-left:25px">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://fdn2.gsmarena.com/vv/bigpic/oneplus-7t-pro.jpg" alt="OnePlus7 Pro">
          <div class="card-body">
            <h5 class="card-title">OnePlus7 Pro</h5>
            <h6 class="card-title">₹ 42,999</h6>
            <p class="card-text">The OnePlus 7T Pro's immersive edge-to-edge display boasts a 90 Hz refresh rate for unmatched smoothness and QHD+ resolution for exceptional clarity.Pro isbattery of 4000mah</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
    </div>

    <div class="col-xs-6" style="margin-top:25px">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://fdn2.gsmarena.com/vv/bigpic/realme-x2-pro.jpg" alt="Realme X2 Pro">
        <div class="card-body">
          <h5 class="card-title">Realme X2 Pro</h5>
          <h6 class="card-title">₹ 20,850</h6>
          <p class="card-text">Buy Realme X2 Pro online at best price with offers in India. Realme X2 Pro (Lunar White, 64 GB) features and specifications include 6 GB RAM, 
            64 GB ROM.Android smartphone.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
  </div>

  <div class="col-xs-6" style="margin-left:25px;margin-top:25px">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://fdn2.gsmarena.com/vv/bigpic/xiaomi-redmi-note-8-pro-.jpg" alt="Redmi 8 Pro">
      <div class="card-body">
        <h5 class="card-title">Redmi 8 Pro</h5>
        <h6 class="card-title">₹ 13,999</h6>
        <p class="card-text">Xiaomi Redmi Note 8 Pro Android smartphone. Announced Aug 2019. Features 6.53″ IPS LCD display, Helio G90T chipset, 4500 mAh battery, 256 GB storage.Extra 1000 Off on Exchange</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
</div>

<div class="col-xs-6" style="margin-left:25px;margin-top:25px">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://fdn2.gsmarena.com/vv/bigpic/xiaomi-poco-x2.jpg" alt="Poco X2">
    <div class="card-body">
      <h5 class="card-title">Poco X2</h5>
      <h6 class="card-title">₹ 15,999</h6>
      <p class="card-text">Xiaomi Poco X2 Android smartphone. Announced Feb 2020. Features 6.67″ IPS LCD display, Snapdragon 730G chipset, 4500 mAh battery, 256 GB storage.Extra 1000 Off.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
</div>
  </div>
</div>