<div style="float: left;" >
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="Shopping-App/src/assets/Images/Mobiles/iphone2.jpg" alt="Iphone 11">
    <div class="card-body">
      <h5 class="card-title">Iphone 11</h5>
      <p class="card-text">Just the right amount of everything. Learn more. Dual-camera system. Liquid Retina LCD. All-day battery life. A13 Bionic chip.
                            Introducing the Slofie. New Ultra Wide camera.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
</div>

<div style="float: left;margin-left: 30px;" >


  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="Shopping-App/src/assets/Images/Mobiles/oneplu7t.jpg" alt="OnePlus7t">
    <div class="card-body">
      <h5 class="card-title">OnePlus7t</h5>
      <p class="card-text">Outstanding Device With Front Camera Of 16MP and Triple Rear Camera Of 48MP+16MP+12MP. 
        Remarkably Solid, yet surprisingly thin | OxygenOS 10 | Wrap charge 30T |</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>

</div>

<div style="float: left;margin-left: 30px;" >


  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="Shopping-App/src/assets/Images/Mobiles/oneplus7pro.jpg" alt="OnePlus7pro">
    <div class="card-body">
      <h5 class="card-title">OnePlus7pro</h5>
      <p class="card-text">The OnePlus 7T Pro's immersive edge-to-edge display boasts a 90 Hz refresh rate for unmatched smoothness and QHD+ resolution for exceptional clarity.Pro isbattery of 4000mah</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>

</div>

<div style="float: left;margin-left: 30px;" >


  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="Shopping-App/src/assets/Images/Mobiles/realmex2pro.jpg" alt="Realme X2 Pro">
    <div class="card-body">
      <h5 class="card-title">Realme X2 Pro</h5>
      <p class="card-text">Buy Realme X2 Pro online at best price with offers in India. Realme X2 Pro (Lunar White, 64 GB) features and specifications include 6 GB RAM, 
        64 GB ROM.Android smartphone. </p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>

</div>
