
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height:80%"src="https://rukminim1.flixcart.com/image/832/832/k2arbm80/headphone/c/v/m/realme-buds-original-imafhzf2f6zfhhfj.jpeg?q=70" alt="OnePlus7t">
              <div class="card-body">
                <h5 class="card-title">Realme Buds Wireless </h5>
                <p class="card-text">Bring home these earphones from Realme and let high-quality audio enthral you. Tuned and optimised by the famous DJ, Alan Walker, these lightweight earphones about 12 hours</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
        </div>
  
        <div class="col-xs-6" style="margin-left:25px">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height:130%" src="https://m.media-amazon.com/images/I/41CvSD0-dyL._SR500,500_.jpg" alt="Fossil Sport Smartwatch">
              <div class="card-body">
                <h5 class="card-title">Apple AirPods with Charging Case</h5>
                <p class="card-text">AirPods with Charging Case: more than 24 hours of listening time, up to 11 hours of talk time, AirPods (single charge): up to 5 hours of listening time or up to 3 hours of talk time or 15 minutes in the case equals up to 3 hours of listening time or up to 2 hours of talk time
                </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
        </div>
     
  </div>